<!DOCTYPE html>
{% load staticfiles %}
<html ng-app="myApp">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.green-teal.min.css">
<link rel='stylesheet' href='{% static "css/styles.css" %}'/>
<link rel='stylesheet' href='{% static "css/material.css" %}'/>
<script src="{% static 'css/material.js' %}"></script>
<script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
   <script src="{% static 'files/angular.js' %}"></script>
   <script src="{% static 'files/angular-sanitize.js' %}"></script>


<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body ng-controller="myCtrl" ng-cloak class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="/w3images/avatar_g2.jpg" style="width:45%;" class="w3-round"><br><br>
    <h4><b>Proctore</b></h4>
    <p class="w3-text-grey">No Rag Commitee</p>
  </div>
  <div class="w3-bar-block">
    <a href="#portfolio" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>Name</a> 
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>ABOUT</a> 
    <a href="#setting" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>Settings</a>
    <a href="#addfacultymember" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>Add Faculty Member</a>
    <a href="#addstudentmember" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>Add Student Member</a>
    <a href="javascript:;" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>Logout</a>
  </div>
  <div class="w3-panel w3-large">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header id="portfolio">
    <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b>My Profile</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
      <span class="w3-margin-right">Filter:</span> 
      <button class="w3-button w3-black">ALL</button>
      <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>Proctore</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>Faculty</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>Student Member</button>
    </div>
    </div>
  </header>
  
  <!-- First Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/w3images/mountains.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Name 1</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/w3images/lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Name 2</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="/w3images/nature.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Name 3</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
  </div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/w3images/p1.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/w3images/p2.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="/w3images/p3.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

  <!-- Images of Me -->
  
<br>
<br>
  <div class="w3-container" style="">
    <div class="w3-col s11" id="about">
    <h4>About Me</h4>

    </div>


    <div class="w3-col s1">

<div class="w3-section w3-text-grey">
  <button onclick="myaccordion('Demo7')" class="w3-button w3-xxxlarge w3-circle">
  +</button>
  </div>
  
  </div>
  <hr>
   </div>
   
   
    <div class="w3-row w3-hide w3-margin" id="Demo7">
    <div class="w3-col s11">
    <p>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest of lorem ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
    </div>
    <div class="w3-col l1">
    <a href="javascript:;" class="material-icons w3-small w3-right w3-text-grey" onclick="myfunction('id01')"  >edit</a>
    </div>
</div>
   
    <hr>
    
 <!-- Proctor Member Login-->
    <div class="w3-container">
    <div class="w3-col s11">
    <h4 id="addproctormember">Add More Proctor Members</h4>
    </div>
    <div class="w3-col s1">
<div class="w3-text-grey w3-section">
  <button onclick="myaccordion('Demo8')" class="w3-button w3-xxxlarge w3-circle">
  +</button>
  </div>
  </div>
  </br>
  </br>
  </br>
 <hr>
 </div>
  

  <div class="w3-container w3-card-4 w3-white w3-text-grey w3-margin w3-hide" id="Demo8">
<form method="POST" ng-submit="addproctormember(proctorobj)" >
<h2 class="w3-center">Add Member</h2>
 
<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xlarge w3-text-black fa fa-user"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" name="first" type="text" ng-model="proctorobj.name" placeholder="Name">
    </div>
</div>



<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xlarge w3-text-black fa fa-envelope-o"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" name="email" type="text" ng-model="proctorobj.email"placeholder="Email">
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xlarge w3-text-black fa fa-phone"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" name="phone" ng-model="proctorobj.phone" type="number" placeholder="Phone">
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xlarge w3-text-black fa fa-pencil"></i></div>
    <div class="w3-rest">
     <select class="w3-select w3-round" name="designation" ng-model="proctorobj.designation">
    <option value="" disabled selected>Choose Designation</option>
    <option value="Proffessor">Proffessor</option>
    <option value="Associate Proffessor">Associate Proffessor</option>
    <option value="Assitant Proffessor">Assitant Proffessor</option>
  </select>
    </div>
</div>
<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xlarge w3-text-black fa fa-pencil"></i></div>
    <div class="w3-rest">
    <select class="w3-select w3-round" name="branch" ng-model="proctorobj.branch">
    <option value="" disabled selected>Choose Branch</option>
    <option value="Computer Science and Engineering">Computer Science and Engineering</option>
    <option value="Electronics and Communication Engineering">Electronics and Communication Engineering</option>
    <option value="Electrical Engineering">Electrical Engineering</option>
    <option value="Civil Engineering">Civil Engineering</option>
    <option value="Mechanical Engineering">Mechanical Engineering</option>
    <option value="Chemical Engineering">Chemical Engineering</option>
    

  </select>
    </div>
</div>
<p class="w3-margin-right w3-left">
<button  class="w3-button w3-section w3-grey w3-ripple " type="submit" >Save</button>
</p>
</form>

</div>
    
   

    <!-- if  member is Proctor-->
    <div class="w3-container">
    <div class="w3-col s11">
    <h4 id="addfacultymember">Add More Faculty Members</h4>
    </div>
    <div class="w3-col s1">
<div class="w3-text-grey w3-section">
  <button onclick="myaccordion('Demo5')" class="w3-button w3-xxxlarge w3-circle">
  +</button>
  </div>
  </div>
  </br>
  </br>
  </br>
 <hr>
 </div>
  

  <div class="w3-container w3-card-4 w3-white w3-text-grey w3-margin w3-hide" id="Demo5">
<form method="POST" ng-submit="addfacultymember(facultyobj)" >
<h2 class="w3-center">Add Member</h2>
 
<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xlarge w3-text-black fa fa-user"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" name="first" type="text" ng-model="facultyobj.name" placeholder="Name">
    </div>
</div>



<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xlarge w3-text-black fa fa-envelope-o"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" name="email" type="text" ng-model="facultyobj.email"placeholder="Email">
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xlarge w3-text-black fa fa-phone"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" name="phone" ng-model="facultyobj.phone" type="number" placeholder="Phone">
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xlarge w3-text-black fa fa-pencil"></i></div>
    <div class="w3-rest">
     <select class="w3-select w3-round" name="designation" ng-model="facultyobj.designation">
    <option value="" disabled selected>Choose Designation</option>
    <option value="Proffessor">Proffessor</option>
    <option value="Associate Proffessor">Associate Proffessor</option>
    <option value="Assitant Proffessor">Assitant Proffessor</option>
  </select>
    </div>
</div>
<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xlarge w3-text-black fa fa-pencil"></i></div>
    <div class="w3-rest">
    <select class="w3-select w3-round" name="branch" ng-model="facultyobj.branch">
    <option value="" disabled selected>Choose Branch</option>
    <option value="Computer Science and Engineering">Computer Science and Engineering</option>
    <option value="Electronics and Communication Engineering">Electronics and Communication Engineering</option>
    <option value="Electrical Engineering">Electrical Engineering</option>
    <option value="Civil Engineering">Civil Engineering</option>
    <option value="Mechanical Engineering">Mechanical Engineering</option>
    <option value="Chemical Engineering">Chemical Engineering</option>
    

  </select>
    </div>
</div>
<p class="w3-margin-right w3-left">
<button  class="w3-button w3-section w3-grey w3-ripple " type="submit" >Save</button>
</p>
</form>

</div>

   <!-- if member is Faculty -->


<br>


    <div class="w3-container">
    <div class="w3-col s11">
    <h4 id="addstudentmember">Add More Student Members</h4>
    </div>
    <div class="w3-col s1">
<div class="w3-text-grey w3-section">
  <button onclick="myaccordion('Demo4')" class="w3-button w3-xxxlarge w3-circle">
  +</button>
  </div>
  </div>
  </br>
  </br>
  </br>
  </div>
  <div class="w3-container w3-card-4 w3-white w3-text-grey w3-margin w3-hide" id="Demo4">
<form method="POST" ng-submit="addstudentmember(studentobj)" >
<h2 class="w3-center">Add Member</h2>
 
<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xlarge w3-text-black fa fa-user"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" name="first" type="text" ng-model="studentobj.name"placeholder="Name">
    </div>
</div>



<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xlarge w3-text-black fa fa-envelope-o"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" name="email" type="text" placeholder="Email" ng-model="studentobj.email">
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xlarge w3-text-black fa fa-phone"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" ng-model="studentobj.phone" name="phone" type="text" placeholder="Phone">
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xlarge w3-text-black fa fa-pencil"></i></div>
    <div class="w3-rest">
    <select class="w3-select w3-round" name="branch" ng-model="studentobj.branch">
    <option value="" disabled selected>Choose Branch</option>
    <option value="Computer Science and Engineering">Computer Science and Engineering</option>
    <option value="Electronics and Communication Engineering">Electronics and Communication Engineering</option>
    <option value="Electrical Engineering">Electrical Engineering</option>
    <option value="Civil Engineering">Civil Engineering</option>
    <option value="Mechanical Engineering">Mechanical Engineering</option>
    <option value="Chemical Engineering">Chemical Engineering</option>
    

  </select>
    </div>
</div>
<p class="w3-left">
<button class="w3-button w3-section w3-grey w3-ripple" type="submit" > Save </button>
</p>
</form>
  </div>
  
  <!-- Settings Section -->

   
    <hr class="w3-opacity">
   <div class="w3-container">
    <div class="w3-col s11">
    <h4 id="addstudentmember">Settings</h4>
    </div>
    <div class="w3-col s1">
<div class="w3-text-grey w3-section">
  <button onclick="myaccordion('Demo6')" class="w3-button w3-xxxlarge w3-circle">
  +</button>
  </div>
  </div>
  </br>
  </br>
  </br>
<hr>
</div>


   <div class="w3-container w3-card-4 w3-white w3-text-grey w3-margin w3-hide" id="Demo6">
<form >
      <div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xlarge w3-text-black fa fa-user"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" name="first" type="text" placeholder="Name">
    </div>
</div>



<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xlarge w3-text-black fa fa-envelope-o"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" name="email" type="text" placeholder="Email">
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xlarge w3-text-black fa fa-phone"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" name="phone" type="text" placeholder="Phone">
    </div>
</div>
      <div class="w3-section">
       <div class="w3-col" style="width:50px"><i class="w3-xlarge w3-text-black fa fa-pencil"></i></div>
        <div class="w3-rest">
        <label>Designation</label>
       <select class="w3-select w3-round" name="option">
    <option value="" disabled selected>Change Designation</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
  </select>
      </div>
      </div>
       <div class="w3-section">
        <label>Branch</label>
         <div class="w3-col" style="width:50px"><i class="w3-xlarge w3-text-black fa fa-pencil"></i></div>
         <div class="w3-rest">
        <select class="w3-select w3-round" name="option">
    <option value="" disabled selected>Change Branch</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
  </select>
      </div>
      </div>
      <button type="submit" class="w3-button w3-grey w3-left w3-margin-bottom"><i class="fa fa-paper-plane w3-margin-right "></i>Update Details</button>
        <a href="javascript:;" class="w3-button w3-right w3-grey" onclick="myfunction('id2')"  ><i class="fa fa-paper-plane w3-margin-right "></i>Change Password </a>
    </form>
  </div>


  <!-- Footer -->
  <footer class="w3-container w3-padding-32 w3-dark-grey">
  <div class="w3-row-padding">
    <div class="w3-third">
      <h3>FOOTER</h3>
      <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>
  
    <div class="w3-third">
      <h3>BLOG POSTS</h3>
      <ul class="w3-ul w3-hoverable">
        <li class="w3-padding-16">
          <img src="/w3images/workshop.jpg" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Lorem</span><br>
          <span>Sed mattis nunc</span>
        </li>
        <li class="w3-padding-16">
          <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Ipsum</span><br>
          <span>Praes tinci sed</span>
        </li> 
      </ul>
    </div>

    <div class="w3-third">
      <h3>POPULAR TAGS</h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">London</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">DIY</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Family</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Shopping</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Games</span>
      </p>
    </div>

  </div>
  </footer>
  
  <div class="w3-black w3-center w3-padding-24">Powered by <a href="#" title="W3.CSS" target="_blank" class="w3-hover-opacity">Anti Ragging</a></div>

<!-- End page content -->
</div>
<!-- Modal to edit about  -->

 <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-2 w3-animate-bottom" style="width:600px">
        <header class="w3-container w3-light-grey"> 
            <span onclick="myfunction('id01')" class="w3-button w3-grey w3-xlarge w3-display-topright">&times;</span>
              <h4>Edit your details</h4>
        </header>
</br>



          <div id="London" class="w3-container city">
              <textarea class="form-control w3-input w3-border w3-round-large" rows="7" style="height: 230px;" placeholder="Write about yourself"> 
              London is the most populous city in the United Kingdom, with a metropolitan area of over 9 million inhabitants.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </textarea>
            </div>
</br>
            <div class="w3-container w3-light-grey w3-padding">
            <button class="w3-btn w3-right w3-grey w3-border w3-blue"   onclick="myfunction('id01')">Save</button>
              </div>
            </div>
         </div>


 <div id="id2" class="w3-modal">
    <div class="w3-modal-content  w3-animate-bottom w3-card-2" style="width:500px;height:400px;">
      <header class="w3-container w3-light-grey"> 
       <span onclick="myfunction('id2')" class="w3-button w3-grey w3-xlarge w3-display-topright">&times;</span>
        <center><h4>Change Password</h4></center>
      </header>
      <div class="w3-container">
<form method="POST" class="w3-container  w3-light-grey w3-text-grey w3-margin">

 




<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-lock"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border"  type="password" placeholder="Old Password" ng-model="cuser.opassword">
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-lock"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border"  type="password" placeholder="New Password" ng-model="cuser.password">
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-lock"></i></div>
    <div class="w3-rest">
     <input class="w3-input w3-border"  type="password" placeholder="Retype New Password" ng-model="cuser.cpassword">
    </div>
</div>
<input type="text" style="display:none;" ng-model="sessionid">

<p class="w3-section " style="margin-left:50px;">
<input type="text" style="display:none" ng-init="cuser.cbtn=1">
<button class="w3-button w3-section w3-grey w3-ripple w3-round-large w3-card-2" type="submit"> Change</button>
</p>
</form>
      </div>
      <footer class="w3-container w3-light-grey">
        <p class="w3-right">POWERED BY Anti-Rag</p>
      </footer>
    </div>
  </div>
  </div>





<script>
// Script to open and close sidebar
function  myaccordion(id){

var x = document.getElementById(id);
if (x.className.indexOf("w3-show") == -1) {
  x.className += " w3-show";
  x.previousElementSibling.className += " w3-grey";
} else { 
  x.className = x.className.replace("w3-show", "");
  x.previousElementSibling.className = 
  x.previousElementSibling.className.replace("w3-grey", "");
}

}
function myfunction(id) {

  //alert("The id is "+id);
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) 
    {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
    } 
    else 
    { 
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
}

function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>
<script >
  
  var app = angular.module('myApp', ['ngSanitize']);
  app.config(function($httpProvider,$interpolateProvider) {
    $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $interpolateProvider.startSymbol('{$');
    $interpolateProvider.endSymbol('$}');});

app.controller('myCtrl', function ($scope,$http) {

//$scope.atype={{sessionid}}
$scope.addproctormember=function(proctorobj){

var email=proctorobj.email;
//var password=proctorobj.password;
var phone=proctorobj.phone;
var name=proctorobj.name;
var designation=proctorobj.designation;
var branch=proctorobj.branch;
var obj={'email':email,'phone':phone,'name':name,'designation':designation,'branch':branch};
alert("The obj are"+obj.email+" "+obj.designation+" "+obj.branch);
        $http({

    method: "POST",
      url: "/index/proctoreregistration/",
    data:obj,

      headers: {'Content-Type': 'application/json'}
    }).then(function(response){

        //alert(response.data);
        var newresponsedata=response.data;
        
        //alert(newresponsedata.status+" "+newresponsedata.nooflike)
        //question.status=newresponsedata.status;
        //question.nooflikes=newresponsedata.nooflike;


  });

},
$scope.addfacultymember=function(facultyobj){

var email=facultyobj.email;
//var password=proctorobj.password;
var phone=facultyobj.phone
var name=facultyobj.name
var designation=facultyobj.designation
var branch=facultyobj.branch
var obj={'email':email,'phone':phone,'name':name,'designation':designation,'branch':branch};
alert("The obj are"+obj.email+" "+obj.branch);
        $http({

    method: "POST",
      url: "/index/facultyregistration/",
    data:obj,

      headers: {'Content-Type': 'application/json'}
    }).then(function(response){

        //alert(response.data);
        var newresponsedata=response.data;
        
        //alert(newresponsedata.status+" "+newresponsedata.nooflike)
        //question.status=newresponsedata.status;
        //question.nooflikes=newresponsedata.nooflike;


  });

},
$scope.addstudentmember=function(studentobj){

var email=studentobj.email;
//var password=proctorobj.password;
var phone=studentobj.phone
var name=studentobj.name
var designation=studentobj.designation
var branch=studentobj.branch
var obj={'email':email,'phone':phone,'name':name,'designation':'none','branch':branch};
alert("The obj are"+obj.email+" "+obj.branch);
        $http({

    method: "POST",
      url: "/index/studentregistration/",
    data:obj,

      headers: {'Content-Type': 'application/json'}
    }).then(function(response){

        //alert(response.data);
        var newresponsedata=response.data;
        
        //alert(newresponsedata.status+" "+newresponsedata.nooflike)
        //question.status=newresponsedata.status;
        //question.nooflikes=newresponsedata.nooflike;


  });

},

$scope.showdetails=function(){


}



});
</script>
</body>
</html>
